* {
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;

}

li {
    font-size: 16px;
    padding: 3px;
}

ul {
}


.card {
    width: 50vw;
    margin: 20px auto;
    background-color: #90ff90;
    padding: 20px;


}

img {
    margin: 20px auto;
    display: block;

}